{% extends "base.html" %}
{% block content %}
  {% include "partials/topbar.html" %}
  <div class="cover">
    <div class="kicker">Programmation</div>
    <div class="cover-copy">
      <span class="small">{{ headline_line1 }}</span>
      <span class="big">{{ headline_line2 }}</span>
      <span class="city">{{ headline_line3 }}</span>
    </div>
    <div class="cover-bottom">
      <div class="date-range">{{ period_label }}</div>
      <div class="tags">
        {% for tag in category_tags %}<span>{{ tag }}</span>{% endfor %}
      </div>
    </div>
  </div>
  <div class="swipe">Swipe pour découvrir →</div>
{% endblock %}
